main{
    flex: 1;
  
}
main .main-container{
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    gap: 50px;
    
}
main .main-container .search-container{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 20px;
    padding: 10px;
}
main .main-container .search-container input{
    padding: 20px;
    font-size: 18px;
    width: 310px;
    border-radius: 10px;
    outline: none;
    border: none;
    color: white;
    background-color: #57c97f;
}
main .main-container .search-container input::placeholder{
    color: #FFF;
}
main .main-container .search-container button{
    padding: 20px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #04343c;
    color: white;
    font-size: 18px;
    cursor: pointer;
    transition: all ease 1s;

}
main .main-container .search-container button:hover{
    letter-spacing: 2px;
}

main .main-container .result-container{
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;
    text-align: center;
}
main .main-container .result-container .result-name-container{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    margin-bottom: 10px;
    gap: 15px;
}
main .main-container .result-container .img-container{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
}
main .main-container .result-container .img-container .description{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}
main .main-container .result-container .img-container .description span{
    font-size: 25px;
    font-weight: bold;
    display: flex;
    align-items: flex-end;
    justify-content: flex-end;
    gap: 10px;
}
main .main-container .result-container .img-container .description span p{
    font-size: 20px;
    font-weight: normal;
}
main .main-container .result-container h1{
    font-size: 50px;
}
main .main-container .result-container img{
    width: 300px;
    border-radius: 50%;
    box-shadow: 10px 20px 20px rgba(0, 0, 0, 0.5);

}
@media screen and (max-width: 580px) {

    header .openMenu img {
       width: 35px;
       height: 35px
    }
    main .main-container .search-container{
        flex-direction: column;
        justify-content: center;
    }
    main .main-container .search-container input{
        width: 95%;
    }
    main .main-container .search-container button{
        width: 95%;
    }
    main .main-container .result-container {
        flex-direction:column;

    }
    main .main-container .result-container .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    main .main-container .result-container .img-container .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .main-container .result-container .result-name-container h1{
        font-size: 30px;
    }
    main .main-container .result-container .img-container .description span{
        font-size: 25px;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;
    }
    main .main-container .result-container .img-container .description span p{
        font-size: 20px;
        font-weight: normal;
    }
    
}
@media screen and (max-width: 450px) {
    main .main-container .result-container h1{
        font-size: 30px;
    }
    main .main-container .result-container img{
        width: 70%;
    }
    main .main-container .result-container .img-container{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        gap: 30px;
    }
    main .main-container .result-container .img-container .description{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }
    main .main-container .result-container .img-container .description span{
        font-size: 20px;
        font-weight: bold;
        display: flex;
        align-items: flex-end;
        justify-content: flex-end;
        gap: 10px;
    }
    main .main-container .result-container .img-container .description span p{
        font-size: 14px;
        font-weight: normal;
    }
}


@media screen and (max-width: 300px) {
    main .main-container .result-container h1{
        font-size: 20px;
    }
    main .main-container .result-container img{
        width: 70%;
    }
}