.modal {
    position: absolute;
    background-color: #04343c;
    width: 300px;
    height: 100px;
    top: 0;
    left: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 0px 20px 20px 0px;
    gap: 20px;
    padding: 0px 15px;
    transition: all ease .5s ;
    transform:  translateX(-300px);
}
.modal span{
    color: white;
    font-size: 20px;
}
@media screen and (max-width: 580px) {

    .modal{
        width: 200px;
    }
}