@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: "Roboto", sans-serif;
    list-style: none;
    text-decoration: none;
}
body{
    position: relative;
    color: #333; /* Cor de texto base */
    background-color: #f4f4f4; /* Cor de fundo neutra */
    min-height: 100vh; /* Garante que o body cubra a tela inteira */
   display: flex;
   flex-direction: column;
   min-height: 100vh;
}
@keyframes is-rotating {
    to {
      transform: rotate(1turn);
    }
  }

@media screen and (max-width: 580px) {
    header ul{
        display: none;
       
    }
    header .openMenu{
        display: block;
        cursor: pointer;

    }
    .modal{
        width: 200px;
    }
    header .openMenu img {
       width: 35px;
       height: 35px
    }
    main .main-container .search-container{
        flex-direction: column;
        justify-content: center;
    }
    main .main-container .search-container input{
        width: 95%;
    }
    main .main-container .search-container button{
        width: 95%;
    }
    main .main-container .result-container {
        flex-direction:column;

    }
    
}

@media screen and (max-width: 450px) {
    main .main-container .result-container h1{
        font-size: 30px;
    }
    main .main-container .result-container img{
        width: 70%;
    }
}


@media screen and (max-width: 300px) {
    main .main-container .result-container h1{
        font-size: 20px;
    }
    main .main-container .result-container img{
        width: 70%;
    }
}
